/* --------------------COLORS-------------------- */

// Theme Colors
$primary-theme-color: #ff4289;

// Background Colors
$primary-background-color: white;
$primary-background-color-dark: #f8f8f8;

// Text Colors
$primary-text-color: #ff4289;

// Button Colors
$primary-button-color: #ff4289;
$primary-button-color-dark: #de186f;
